
 /*=============== Обнуление стилей ==============*/

*,
::before,
::after {
    padding: 0;
    margin: 0px 0px 0px 0px;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/*===== Прижимаем футер к низу страницы =====*/

.wrapper {
   overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 1 auto;
    
}

[class*="__container"] {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 20px;
}

body {
    background-color: rgb(192, 182, 140);
    font-family: 'Aleo', serif;

}



/*===== header =====*/
.header {
    background-color: rgb(196, 191, 132);
    height: 80px;
}

.header__navigation {
   display: flex;
   justify-content: flex-end;
   
}

.navigation {}

.navigation__items {}

.menu {
   
    display: flex;
    gap: 40px;
    padding-top: 30px;
}

.menu__item {}

.menu__link {
    text-transform: uppercase;
    color: rgb(91, 117, 115);
    font-size: 22px;
    transition: 0.1s ease-out;
}

.menu__link:hover {
border-bottom: 3px solid  rgb(91, 117, 115); ;


